{% extends 'index.html' %}
{% load static %}
{% block Navbar1 %}
<!-- Large Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-3 pb-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row  d-flex align-items-center">
                     <div class="col-2 d-flex align-items-center">
                        <a><i  class="fas fa-arrow-left text-primary" style="font-size: 25px;"></i></a>
                    </div>
                    {% if request.user == Sender1.user %}
                    <div class="col-9 pl-3 d-flex  justify-content-start align-items-center">
                        <a class="navbar-brand text-dark font-weight-bold" style="font-size:20px;font-family: Garamond, serif;">{{Sender2.user}}</a>
                    </div>
                    {% endif %}

                </div>

        </nav>
      <!-- Large Screen Navbar End -->
      <!-- Small Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">

                 <div class="row  d-flex align-items-center">
                     <div class="col-2 d-flex align-items-center">
                        <a><i  class="fas fa-arrow-left text-primary" style="font-size: 25px;"></i></a>
                    </div>
                    {% if request.user == Sender1.user %}
                    <div class="col-9 pl-3 d-flex  justify-content-start align-items-center">
                        <a class="navbar-brand text-dark font-weight-bold" style="font-size:20px;font-family: Garamond, serif;">{{Sender2.user}}</a>

                    </div>
                     {% else %}
                     <div class="col-9 pl-3 d-flex  justify-content-start align-items-center">
                        <a class="navbar-brand text-dark font-weight-bold" style="font-size:20px;font-family: Garamond, serif;">{{Sender1.user}}</a>

                    </div>
                    {% endif %}

                </div>


        </nav>
    <!-- Small Screen Navbar End -->
{% endblock %}
{% block content %}
<!-- About the profile -->
<div class="mt-5 pt-5">
{% if request.user.username == Sender1.user.username %}
    <a href="{% url 'Base:ProfileView' Sender2.user.username %}">
    <div class="row d-flex justify-content-center ">
            {% if Sender2.Profile_Photo %}
            <img src="{{Sender2.Profile_Photo.url}}" height="100" width="100" style="border-radius:50%;">
            {% else %}
            <img src="{% static 'img/user.png' %}" height="100" width="100" style="border-radius:50%;">
            {% endif %}
    </div>
    <div class="row d-flex justify-content-center ">
        <h6 class="pl-2 pt-2 font-weight-bold text-dark">{{Sender2.username}} </h6>
    </div>
    <div class="row d-flex justify-content-center ">
        <small class="pl-2 pt-2 font-weight-normal text-dark">{{Sender2.Profile_Name}} </small>
    </div>
    </a>
    <hr>
{% else %}
    <a href="{% url 'Base:ProfileView' Sender1.user.username %}">
    <div class="row d-flex justify-content-center ">
            {% if Sender1.Profile_Photo %}
            <img src="{{Sender1.Profile_Photo.url}}" height="100" width="100" style="border-radius:50%;">
            {% else %}
            <img src="{% static 'img/user.png' %}" height="100" width="100" style="border-radius:50%;">
            {% endif %}
    </div>
    <div class="row d-flex justify-content-center ">
        <h6 class="pl-2 pt-2 font-weight-bold text-dark">{{Sender1.username}} </h6>
    </div>
    <div class="row d-flex justify-content-center ">
        <small class="pl-2 mt-0 font-weight-normal text-dark">{{Sender1.Profile_Name}} </small>
    </div>
    </a>
    <hr>
{% endif %}
<!-- About the profile -->

<div id="AllMessages">
    <!-- Messages -->
    {% for messages in Chatroom.Messages.all %}
        <div class="row mt-3 ">
            <div class="col-2 pl-4 ">
                {% if messages.sender.Profile_Photo %}
                <img src="{{messages.sender.Profile_Photo.url}}" height="40" width="40" style="border-radius:50%;">
                {% else %}
                <img src="{% static 'img/user.png' %}" height="40" width="40" style="border-radius:50%;">
                {% endif %}
            </div>
            <div class="col-10">
                <small class="font-weight-bold">{{messages.sender.user}}</small><small class="pl-3">{{messages.Timestamp.time}}</small><br>
                <small style="white-space: pre;">{{messages.message}}</small>
            </div>
        </div>

    {% endfor %}
    <!-- Messages -->
</div>
<div class="pb-5 mt-5 text-white">
    <h1>Faltu</h1>
</div>

</div>
{% endblock %}

{% block Navbar2 %}
   <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">

                 <div class="row pl-2 pt-1 pb-1 d-flex align-items-center">

                         <textarea id="Message" rows="2" cols="10" class="form-control  ml-2 mr-2 col-9" placeholder="Message ..." style="width:70% ;height:35px;overflow:auto;overflow:hidden;resize:none;font-size:14px;"></textarea>

                         <a id="MessageSub" class="text-primary" style="font-size:15px;"><i class="far fa-arrow-alt-circle-right col-2" style="font-size:25px;"></i></a>
                </div>
        </nav>
{% endblock %}
<!-- Script for Messages -->
{% block extra_body %}
<script>



 $("html, body").animate({ scrollTop: $(document).height() },1);
// Create new websocket and connect
if(parseInt('{{Sender1.UniqueCode}}') < parseInt('{{Sender2.UniqueCode}}')){
var room_name = '{{Sender1.UniqueCode}}'+'{{Sender2.UniqueCode}}';

}
else{
var room_name = '{{Sender2.UniqueCode}}'+'{{Sender1.UniqueCode}}';

}
             // create a new websocket
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

                const chatSocket = new WebSocket(
                ws_scheme+'://'+
                window.location.host+'/'+'Chatroom/'+
                 room_name
                );
             // Send The message
             document.querySelector('#MessageSub').onclick = function(e){
             var Msg = document.querySelector('#Message').value;
             // Scroll to down
             $(document).scrollTop($(document).height());
            // Ajax to save data to DB

            $.ajax({
              method: "GET",
              url: "{% url 'Base:SaveMessage' %}",
              data: {
              'user':'{{request.user.username}}',
              'Msg':Msg,
              'Chatroom_id':room_name
              },
              success: function(data) {

              }
            })

        chatSocket.send(JSON.stringify({

                    'user':'{{request.user.username}}',
                    'Msg':Msg,
                    'Chatroom_id':room_name
                  }));
                   $('#Message').val("");
                  };
     // After we save the message

       chatSocket.onmessage = function(e){
                const data = JSON.parse(e.data);
                var profile = JSON.parse(data.sender);

                // Row
                Row = document.createElement("div");
                Row.className +="row mt-3 ";

                // Col1
                Col1 = document.createElement("div");
                Col1.className +="col-2 pl-4 ";
                // ImageCol1
                ImageCol1 = document.createElement("img");

                if(profile[0].fields.Profile_Photo){
                ImageCol1.src = 'https://assets07.s3.us-east-2.amazonaws.com/media/'+profile[0].fields.Profile_Photo;
                }
                else{
                ImageCol1.src = "{% static 'img/user.png' %}";
                    }
                ImageCol1.height ="40";
                ImageCol1.width = "40";
                ImageCol1.style = "border-radius:50%";
                Col1.appendChild(ImageCol1);

                // Col2
                Col2 = document.createElement("div");
                Col2.className +="col-10";

                // Small1
                Small1 = document.createElement("small");
                Small1.className+="font-weight-bold";
                Small1.innerHTML = data.user;

                // Small2
                Small2 = document.createElement("small");
                Small2.className+="pl-3";
                Small2.innerHTML = "Just Now";
                // br
                Br = document.createElement("br");
                // Small3
                Small3 = document.createElement("small");
                Small3.style = "white-space:pre;";
                Small3.innerHTML = data.Msg;
                Col2.appendChild(Small1);
                Col2.appendChild(Small2);
                Col2.appendChild(Br);
                Col2.appendChild(Small3);
                Row.appendChild(Col1);
                Row.appendChild(Col2);
                 $('#AllMessages').append(Row);


                }
</script>
{% endblock %}
<!-- Script for Messages -->