{% extends 'index.html' %}
{% load static %}
{% block Navbar1 %}
<!-- Large Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-3 pb-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="container d-flex justify-content-center align-items-center">
                 <div class="row border">
                    <div class="col">
                        <a class="navbar-brand text-primary">PROTOTYPE</a>
                    </div>
                     <div class="col">
                          <input type="text" name="SearchInput" class="form-control text-inside" placeholder="Search">
                    </div>

                </div>
            </div>

        </nav>
      <!-- Large Screen Navbar End -->
      <!-- Small Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">

                 <div class="row border pb-1 pt-1 d-flex align-items-center">
                      <a><i  class="col-2  fas fa-arrow-left text-primary" style="font-size: 25px;"></i></a>
                      <h5 class="pt-1  mb-2 col-8 pl-0 pr-1 font-weight-bold">Tending</h5>
                </div>


        </nav>

    <!-- Small Screen Navbar End -->
{% endblock %}
 {% block content %}
     <div class="container h-100 w-100 mt-5 pt-5 d-none d-sm-block d-md-block d-lg-block d-xl-block" >
       <!-- All related posts -->
       {% for post in Posts.all %}
         <div class="row border h-75 mt-2 w-100 ">

            <div class=" h-100 w-100" >
                <div class="card-header w-100">
                    <div class="row d-flex align-items-center">
                        {% if post.user.Profile_Photo %}
                            <img src="{{post.user.Profile_Photo.url}}" height="60" width="60" style="border-radius:50%;">
                        {% else %}
                            <img src="{% static 'img/user.png' %}" height="60" width="60" style="border-radius:50%;">
                        {% endif %}
                    <h6 class="pl-4">{{post.user.user}}</h6>
                    </div>
                </div>

              <div class="card-body h-100 w-100" >
                <div id="Large{{post.slug}}" class="carousel slide  w-100" style="height:80%;" data-ride="carousel">

                  <div class="carousel-inner h-100 w-100">
                    {% if post.File1 %}
                      {% if post.File1Type %}
                         <video  class="carousel-item active h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                            <source src="{{post.File1.url}}" >
                         </video>

                       {% else %}
                        <div class="carousel-item active h-100 w-100 " >
                            <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File1.url}}"  >
                        </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File2 %}
                       {% if post.File2Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File2.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File2.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File3 %}
                       {% if post.File3Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File3.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File3.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                     {% if post.File4 %}
                       {% if post.File4Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File4.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File4.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File5 %}
                       {% if post.File5Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File5.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File5.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File6 %}
                       {% if post.File6Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File6.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File6.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File7 %}
                       {% if post.File7Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File7.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File7.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File8 %}
                   {% if post.File8Type %}
                         <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                            <source src="{{post.File8.url}}" >
                         </video>

                       {% else %}
                        <div class="carousel-item  h-100 w-100 " >
                            <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File8.url}}"  >
                        </div>
                   {% endif %}
                    {% endif %}

                    {% if post.File9 %}
                       {% if post.File9Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File9.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File9.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File10 %}
                       {% if post.File10Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();">
                                <source src="{{post.File10.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File10.url}}"  >
                            </div>
                       {% endif %}
                    {% endif %}

                  </div>
                   <a class="carousel-control-prev " href="#Large{{post.slug}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="sr-only  ">Previous</span>

                  </a>
                   <a class="carousel-control-next" href="#Large{{post.slug}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                  </a>

                </div>

              </div>


            </div>
             <!-- Description -->
             <!-- Description -->
         </div>


         {% endfor %}
       <!-- All related posts -->
     </div>
    <!-- Small Screen Block -->

    <!-- Posts -->
    <div id="Post" class="mt-5 pt-3 h-100 w-100 d-block d-lg-none d-sm-none ">

        {% for Posts in AllPosts %}
        {% for post in Posts.all %}

         <!-- Header -->
         <div class="row border d-flex align-items-center pl-3 pt-2 pb-2  justify-content-start">
             {% if post.user.Profile_Photo %}
                <img src="{{post.user.Profile_Photo.url}}" height="40" width="40" style="border-radius:50%;">
             {% else %}
                 <img src="{% static 'img/user.png' %}" height="40" width="40" style="border-radius:50%;">
             {% endif %}
            <small class="pl-2 font-weight-bold">{{post.user.user.username}}</small>
         </div>
         <!-- Header End -->
          <!-- Body -->
            <div id="small{{post.slug}}" ondblclick="LikePost('{{post.slug}}')" class="carousel slide w-100 border" style="height:50%;" data-ride="carousel" data-interval="false">

                  <div class="carousel-inner h-100 w-100">
                    {% if post.File1 %}
                      {% if post.File1Type %}
                         <video  class="carousel-item active h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                            <source class="h-100 w-100" src="{{post.File1.url}}" >
                         </video>

                       {% else %}
                        <div class="carousel-item active h-100 w-100 " >
                            <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File1.url}}" style="object-fit:cover" >
                        </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File2 %}
                       {% if post.File2Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source class="h-100 w-100" src="{{post.File2.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File2.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File3 %}
                       {% if post.File3Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File3.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File3.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                     {% if post.File4 %}
                       {% if post.File4Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File4.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File4.url}}"  style="object-fit:cover">
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File5 %}
                       {% if post.File5Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File5.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File5.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File6 %}
                       {% if post.File6Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File6.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File6.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File7 %}
                       {% if post.File7Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File7.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File7.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File8 %}
                   {% if post.File8Type %}
                         <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                            <source src="{{post.File8.url}}" >
                         </video>

                       {% else %}
                        <div class="carousel-item  h-100 w-100 " >
                            <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File8.url}}" style="object-fit:cover" >
                        </div>
                   {% endif %}
                    {% endif %}

                    {% if post.File9 %}
                       {% if post.File9Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File9.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File9.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                    {% if post.File10 %}
                       {% if post.File10Type %}
                             <video  class="carousel-item h-100 w-100 {{post.Filter}}" onclick="this.paused ? this.play() : this.pause();" style="object-fit:cover">
                                <source src="{{post.File10.url}}" >
                             </video>

                           {% else %}
                            <div class="carousel-item  h-100 w-100 " >
                                <img class="d-block h-100 w-100 mini {{post.Filter}}" src="{{post.File10.url}}" style="object-fit:cover" >
                            </div>
                       {% endif %}
                    {% endif %}

                  </div>
                   <a class="carousel-control-prev " href="#small{{post.slug}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="sr-only  ">Previous</span>

                  </a>
                   <a class="carousel-control-next" href="#small{{post.slug}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                  </a>

                </div>
            <!-- Body End -->
            <!-- Post Middle -->
                <div class="row pt-2 pb-2 d-flex ">
                    <a id="{{post.slug}}" onclick="LikePost('{{post.slug}}')" style=""><i class="far fa-heart pl-4 font-weight-normal" style="font-size:25px;"></i></a>
                    <a href="{% url 'Base:CommentView' post.slug %}"><i class="far fa-comment pl-4 text-dark" style="font-size:25px;"></i></a>
                    <div class="row pl-5">
                    {% if post.File1 %}
                        <i class="fas fa-circle pl-5 text-primary" style="font-size:8px;"></i>
                    {% endif %}
                    {% if post.File2 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File3 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File4 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File5 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File6 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File7 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File8 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File9 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    {% if post.File10 %}
                        <i class="fas fa-circle pl-1" style="color:grey;font-size:8px;"></i>
                    {% endif %}
                    </div>
                </div>
            <!-- Post Middle End -->
            <!-- Display Likes -->
            <div class="row pl-4" >
                {% if post.Likes.count %}
                <small id="display-likes-{{post.slug}}">Liked by <span class="font-weight-bold">{{post.Likes.first.user}}</span> and <a class="font-weight-bold text-dark" href="{% url 'Base:LikesView' post.slug %}">{{post.Likes.count}} others</a></small>
                {% endif %}

            </div>
            <!-- Display Likes -->
            <!-- Display Caption -->
            <div class="row pl-4">
                {% if post.Description %}
                    <small><span class="font-weight-bold">{{post.user.user.username}}</span> {{post.Description}}</small>
                {% endif %}
            </div>
            <!-- Display Caption -->
            <!-- Comments Section -->
            <div class="row pl-4">
                <div class="col pl-0">
                {% if post.Comments.count %}
                <a class="text-muted" href="{% url 'Base:CommentView' post.slug %}">View all {{post.Comments.count}} comments</a><br>

                    <small><span class="font-weight-bold">{{post.Comments.first.user.user.username}}</span> {{post.Comments.first.Comment}} </small> <br>
                    <small><span class="font-weight-bold">{{post.Comments.last.user.user.username}}</span> {{post.Comments.last.Comment}} </small><br>

                {% endif %}
                </div>
            </div>
            <!-- Comments Section -->


        {% endfor %}
        {% endfor %}
        <!-- For Keeping up from footer -->
        <div class="row mb-5 pb-5 ">
            <h6 style="color:white;">Hey</h6>
        </div>
        <!-- For Keeping up from footer End-->
        </div>
    <!-- Posts End-->




    {% endblock %}