{% extends 'index.html' %}
{% load static %}
{% block Navbar1 %}
<!-- Large Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-3 pb-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="container d-flex justify-content-center align-items-center">
                 <div class="row border">
                    <div class="col">
                        <a class="navbar-brand text-primary">PROTOTYPE</a>
                    </div>
                     <div class="col">
                          <input type="text" name="SearchInput" class="form-control text-inside" placeholder="Search">
                    </div>

                </div>
            </div>

        </nav>
      <!-- Large Screen Navbar End -->
      <!-- Small Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">

                 <div class="row border pb-1 pt-1">
                    <div class="col-2 d-flex align-items-center">
                        <a><i  class="fas fa-arrow-left text-primary" style="font-size: 25px;"></i></a>
                    </div>
                     <div class="input-group mb-2 col-10 pl-0 pr-1">
                      <input type="text" class="form-control "  id="SearchInput" name="SearchInput"  placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" style="height:100%;width:80%;font-size:14px;" autocomplete="on">

                    </div>

                </div>


        </nav>

    <!-- Small Screen Navbar End -->
{% endblock %}
{% block content %}
<style>

</style>
<div id="Explore" class="pt-4 mt-4 row ">

</div>
<!-- Division for searchresults -->
<div id="SearchResult" class="mt-5 pt-3">

</div>
<!-- Division for searchresults -->

{% endblock %}
{% block extra_body %}
<script>

    // Clear the input in case the user comes back
     document.getElementById("SearchInput").value = "";
    // Hide the Explore section when user click on the searchinput

    $('#SearchInput').on('focus',function(){
    $('#Explore').hide();
    });

    // Async Explore

    var room_name = '{{request.user.username}}';
    // create a new websocket
    const SearchSocket = new WebSocket(
    'ws://'+
    window.location.host+'/'+'Explore'+'/'+
     room_name

    );

     $("#SearchInput").on("input",function () {
        var SearchInput = $("#SearchInput").val();

        SearchSocket.send(JSON.stringify({
                    'SearchInput':SearchInput,
                  }));
                  });

     // After the SearchSocket returns the results
     SearchSocket.onmessage = function(event){
        var data = JSON.parse(event.data);
        var results = JSON.parse(data.results);
        if(typeof results[0]!=='undefined'){

         // Clear everything inside the div
           document.getElementById("SearchResult").innerHTML = '';
           for(var i=0;i<results.length;i++){

            var Row = document.createElement("div");
                Row.className += " row pl-1 mt-2 ";

            var Col1 = document.createElement("div");
                Col1.className += " col-2 pl-4";
            var Img1 = document.createElement("img");

                if(results[i].fields.Profile_Photo){
                Img1.src = '/media/'+results[i].fields.Profile_Photo;
                }
                else{
                Img1.src = "{% static 'img/user.png' %}";
                    }
                Img1.style.height = "45px";
                Img1.style.width = "45px";
                Img1.style.borderRadius = "50%";
            Col1.appendChild(Img1);

            var Col2 = document.createElement("div");
                Col2.className += " col-10";
                Col2.style = "line-height:1em";
            var Small1 = document.createElement("small");
                Small1.className += "pl-2 font-weight-bold text-dark";
                Small1.style = "white-space: pre-line";
                Small1.innerText = results[i].fields.username +'\n';
                Col2.appendChild(Small1);

            var Small2 = document.createElement("small");
                Small2.className += "pl-2 pt-0 font-weight-bold";
                Small2.style = "color:grey";
                Small2.innerText = results[i].fields.Profile_Name +'\n';
                Col2.appendChild(Small2);


            Row.appendChild(Col1);
            Row.appendChild(Col2);

            // Put everything inside anchor tag
            var Anchor = document.createElement("a");
            Anchor.appendChild(Row);
            Anchor.href = "/Profile/"+results[i].fields.username+"/";

            $('#SearchResult').prepend(Anchor);
           }
        }
     }
    // Script to add Posts in Explore


    // This escapejs was missing so keep it in mind
    var data = JSON.parse('{{Posts|escapejs}}');
    var posts = JSON.parse(data);
    var count=0;
    for(var i=count;i<{{Postcount}};i=i+8){
     // If the post is Video then make video element (Post1)
     if(typeof posts[i]!=='undefined'){
    if(posts[i].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-8 pl-0 pr-0 pt-0 pb-0 bg-dark";
     Anchor.href = '/ExplorePosts/'+posts[i].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post1)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-8 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
      // If the post is Video then make video element (Post2)
     if(typeof posts[i+1]!=='undefined'){
    if(posts[i+1].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+1].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+1].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+1].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post2)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+1].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+1].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
    Anchor.href = '/ExplorePosts/'+posts[i+1].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post3)
     if(typeof posts[i+2]!=='undefined'){
    if(posts[i+2].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+2].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+2].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+2].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post3)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+2].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+2].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+2].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post4)
     if(typeof posts[i+3]!=='undefined'){
    if(posts[i+3].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+3].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+3].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+3].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post4)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+3].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+3].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+3].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post5)
     if(typeof posts[i+4]!=='undefined'){
    if(posts[i+4].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+4].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+4].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+4].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post5)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+4].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+4].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+4].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post6)
     if(typeof posts[i+5]!=='undefined'){
    if(posts[i+5].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+5].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+5].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+5].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post6)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+5].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+5].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-4 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+5].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post7)
     if(typeof posts[i+6]!=='undefined'){
    if(posts[i+6].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+6].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+6].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-8 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+6].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post7)
    else{
    var Image = document.createElement("img");
    Image.className=posts[i+6].fields.Filter;
    Image.style="height:20vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+6].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-8 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+6].fields.slug+'/';
     Anchor.style="height:20vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
     // If the post is Video then make video element (Post8)
     if(typeof posts[i+7]!=='undefined'){
    if(posts[i+7].fields.File1Type){
      var Video = document.createElement("video");
     Video.className=posts[i+7].fields.Filter;
     Video.onmouseover = function(Video){this.play()};
     Video.onmouseout = function(Video){this.pause()};
     Video.muted="muted"
     Video.style="height:40vh;width:100%;border:1px solid white;object-fit:cover;";
     var source = document.createElement('source');
     source.src = "/media/"+posts[i+7].fields.File1;
     Video.appendChild(source);
      Anchor = document.createElement("a");
     Anchor.className = "col-12 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+7].fields.slug+'/';
     Anchor.style="height:40vh;"
     Anchor.appendChild(Video);
     $('#Explore').append(Anchor);
    }
    // If the post if image (Post8)
    else{
    var Image = document.createElement("img");
    Image.className="col-12 pt-0 pb-0 pl-0 pr-0 "+posts[i+7].fields.Filter;
    Image.style="height:40vh;width:100%;border:1px solid white;object-fit:cover;";
    Image.src = "/media/"+posts[i+7].fields.File1;
     Anchor = document.createElement("a");
     Anchor.className = "col-12 pl-0 pr-0 pt-0 pb-0";
     Anchor.href = '/ExplorePosts/'+posts[i+7].fields.slug+'/';
     Anchor.style="height:40vh;"
     Anchor.appendChild(Image);
     $('#Explore').append(Anchor);
    }}
    count=count+8;

    }
</script>
{% endblock %}
{% block Navbar2 %}
 <!-- Small Screen Block End -->

        <!-- Small Screen Footer -->

        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">
            <div class="container d-flex justify-content-center align-items-center">
                 <div class="row w-100 pt-1 pb-1 ">
                 <div class="col pl-1">
                     <a href="{% url 'Base:HomeView' %}"><img src="{% static 'img/home3.png' %}" height="25" width="25"></a>
                 </div>
                 <div class="col pl-3">
                     <a href="{% url 'Base:ExploreView' %}"><i class="fas fa-search text-dark" style="font-size: 25px;"></i></a>
                 </div>
                 <div class="col pl-3">
                     <a href="{% url 'Base:AddPost' %}"><i class="fas fa-plus-square text-dark" style="font-size: 25px;"></i></a>
                 </div>
                 <div class="col pl-3">
                   <i class="far fa-bell" style="font-size: 25px;"></i>
                 </div>
                 <div class="col pl-3 pr-1">
                   {% if Profile.Profile_Photo %}
                     <a href="{% url 'Base:ProfileView' request.user %}"> <img src="{{Profile.Profile_Photo.url}}" height="30" width="30" style="border-radius:50%;"></a>
                    {% else %}
                     <a href="{% url 'Base:ProfileView' request.user %}"> <img src="{% static 'img/user.png' %}" height="30" width="30" style="border-radius:50%;"></a>
                    {% endif %}

                 </div>

                </div>
            </div>

        </nav>

        <!-- Small Screen Footer End -->
        <script>


        </script>
{% endblock %}