{% extends 'index.html' %}
{% load static %}
{% block Navbar1 %}
                <!-- Large Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg bg-white pt-0 pb-0 d-none d-sm-none d-md-block d-lg-block d-xl-block" >
            <div class="container ">
                 <div class="row  d-flex justify-content-start align-items-center w-100">
                     <div class="col-6 ">
                         <div class="row w-100 d-flex justify-content-start align-items-center">
                            <!-- Logo and Brand name -->
                            <a class="navbar-brand text-dark font-weight-bold" style="font-size:30px;font-family: Garamond, serif;">Holagrid</a>
                            <!-- Logo and Brand name -->
                        </div>
                     </div>
                     <div class="col-6 ">
                          <div class="row w-100 d-flex align-items-center justify-content-center">
                            <!-- Home -->
                             <a href="{% url 'Base:HomeView' %}" class="" ><img src="{% static 'img/home3.png' %}" height="25" width="25"></a>
                            <!-- Home -->
                            <!-- Explore -->
                             <a href="{% url 'Base:ExploreView' %}" class="ml-4"><i class="fas fa-globe" style="font-size: 25px;color:grey;"></i></a>
                            <!-- Explore -->
                            <!-- Chats -->
                            <a href="{% url 'Base:AllChats' %}" class="ml-4"><i class="far fa-comment-alt" style="font-size: 25px;color:black;"></i>
                            <span style="color:red;" class="font-weight-bold">{{Profile.Chatrooms.count}}</span>
                            </a>
                            <!-- Chats -->
                            <!-- Add Post -->
                             <a href="{% url 'Base:AddPost' %}" class="ml-4"><i class="fas fa-plus-square" style="font-size: 25px;color:grey;"></i></a>
                            <!-- Add Post -->

                            <!-- Profile -->
                             {% if Profile.Profile_Photo %}
                               <a href="{% url 'Base:ProfileView' request.user %}" class="ml-4 mr-5"> <img src="{{Profile.Profile_Photo.url}}" height="25" width="25" style="border-radius:50%;"></a>
                             {% else %}
                               <a href="{% url 'Base:ProfileView' request.user %}" class="ml-4 mr-5"> <img src="{% static 'img/user.png' %}" height="25" width="25" style="border-radius:50%;"></a>
                             {% endif %}
                             <!-- Profile -->
                          </div>
                     </div>
                </div>
            </div>
        </nav>
      <!-- Large Screen Navbar End -->
      <!-- Small Screen Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pt-0 pb-0 d-block d-sm-none d-md-none d-lg-none d-xl-none">

                 <div class="row  d-flex align-items-center">
                    <div class="col-10 pl-3 pt-0 pb-0 d-flex pr-0 align-items-center">
                        <h6 class="navbar-brand text-dark font-weight-bold" style="font-size:20px;height:35px; display: block;width: 100%;  overflow: hidden;   white-space: nowrap;
  text-overflow: ellipsis;">{{Profile.user.username}}</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end pr-1">

                        <a><img src="{% static 'img/setting2.png' %}" width="30" height="30"></a>
                    </div>
                </div>

        </nav>
    <!-- Small Screen Navbar End -->
{% endblock %}
{% block content %}
<style>
    img:hover {
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
}
</style>
<!-- Large Screen -->
<div class=" container d-none d-md-block mt-5 pb-5">
    <div class="row  d-flex align-items-center pl-3 pt-2 pb-2  justify-content-start pt-5 mt-2">
        <div class="col-5">
            {% if Profile.Profile_Photo %}
            <img class="pl-1" src="{{Profile.Profile_Photo.url}}" height="150" width="150" style="border-radius:50%;">
            {% else %}
            <img class="pl-1" src="{% static 'img/user.png' %}" height="150" width="150" style="border-radius:50%;">
            {% endif %}
        </div>
        <div class="col-2 pl-1">
                <h5 class="font-weight-bold pl-2 text-white">{{Profile.Posts.count}}</h5>
                <h6 class="pt-1 text-white">Posts</h6>
        </div>
         <div class="col-2 pl-0">
                <h5 class="font-weight-bold pl-2 text-white">{{Profile.Followers.count}}</h5>
                <h6 class="pt-1 text-white">Followers</h6>
        </div>
         <div class="col-2 pl-2">
                <h5 class="font-weight-bold pl-2 text-white">{{Profile.Following.count}}</h5>
                <h6 class="pt-1 text-white">Following</h6>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col pl-4">
            <small class="font-weight-bold text-white">{{Profile.Profile_Name}}</small><br>
            <small style="white-space:pre;color:white;">{{Profile.Bio}}</small>
        </div>
    </div>
    {% if Admin %}
    <div class="row pt-1 d-flex align-items-center justify-content-center mt-2">
        <a class="col-5 border d-flex align-items-center justify-content-center pl-2" style="font-size:15px;" href="{% url 'Base:ProfileEdit' request.user %}">Edit Profile</a>
        <a class="col-1 border d-flex align-items-center justify-content-center ml-2" style="font-size:15px;color:red;" href="{% url 'users:logout'%}">Sign Out</a>
    </div>
    {% else %}
    <!-- For Public Account -->
    <div class="row pt-1 d-flex align-items-center justify-content-center">
        {% if MyProfile in Profile.Followers.all %}
        <a id="FollowingL" class="col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary" style="font-size:15px;" >Following</a>
        {% else %}
        <a id="FollowL" class="col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary" style="font-size:15px;color:white;" >Follow</a>
        {% endif %}
        <a id="MessageL" class="col-5 border d-flex align-items-center justify-content-center pl-2 ml-2 bg-primary" href="{% url 'Base:Chatroom' MyProfile.UniqueCode Profile.UniqueCode  %}" style="font-size:15px;color:white;" >Message</a>
    </div>
    {% endif %}
    <!--All Posts -->
    <hr style="color:white;border:0.5px solid white;">
    <div class="row">
        {% for post in Profile.Posts.all %}
            <div class="col-4 mt-2">
                {% if post.File1Type %}
                <a href="{% url 'Base:ExplorePosts' post.slug %}">
                    <video class="{{post.Filter}} " style="height:300px;width:100%;border:3px solid white;display:block;">
                        <source src="{{post.File1.url}}" >
                    </video>
                </a>
                {% else %}
                <a href="{% url 'Base:ExplorePosts' post.slug %}">
                    <img src="{{post.File1.url}}" style="height:300px;width:100%;border:3px solid white;">
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!--All Posts -->
</div>

<div class="d-block d-md-none ml-0 mr-0 pl-0 pr-0 pb-5">
    <div class="row  d-flex align-items-center pl-3 pt-2 pb-2  justify-content-start pt-5 mt-2">
        <div class="col-5">
            {% if Profile.Profile_Photo %}
            <img class="pl-1" src="{{Profile.Profile_Photo.url}}" height="100" width="100" style="border-radius:50%;">
            {% else %}
            <img class="pl-1" src="{% static 'img/user.png' %}" height="100" width="100" style="border-radius:50%;">
            {% endif %}
        </div>
        <div class="col-2 pl-1">
                <h6 class="font-weight-bold pl-2 text-white">{{Profile.Posts.count}}</h6>
                <small class="pt-1 text-white">Posts</small>
        </div>
         <div class="col-2 pl-0">
                <h6 class="font-weight-bold pl-2 text-white">{{Profile.Followers.count}}</h6>
                <small class="pt-1 text-white">Followers</small>
        </div>
         <div class="col-2 pl-2">
                <h6 class="font-weight-bold pl-2 text-white">{{Profile.Following.count}}</h6>
                <small class="pt-1 text-white">Following</small>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col pl-4">
            <small class="font-weight-bold text-white">{{Profile.Profile_Name}}</small><br>
            <small style="white-space:pre;color:white;">{{Profile.Bio}}</small>
        </div>
    </div>
    {% if Admin %}
    <div class="row pt-1 d-flex align-items-center justify-content-center ">
        <a class="col-10 border d-flex align-items-center justify-content-center pl-2" style="font-size:15px;" href="{% url 'Base:ProfileEdit' request.user %}">Edit Profile</a>
    </div>
    <div class="row pt-1 d-flex align-items-center justify-content-center ">
    <a class="col-5 border d-flex align-items-center justify-content-center ml-2" style="font-size:15px;color:red;" href="{% url 'users:logout'%}">Sign Out</a>
    </div>
    {% else %}
    <!-- For Public Account -->
    <div class="row pt-1 d-flex align-items-center justify-content-center">
        {% if MyProfile in Profile.Followers.all %}
        <a id="Following" class="col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary" style="font-size:15px;" >Following</a>
        {% else %}
        <a id="Follow" class="col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary" style="font-size:15px;color:white;" >Follow</a>
        {% endif %}
        <a id="Message" class="col-5 border d-flex align-items-center justify-content-center pl-2 ml-2 bg-primary" href="{% url 'Base:Chatroom' MyProfile.UniqueCode Profile.UniqueCode  %}" style="font-size:15px;color:white;" >Message</a>
    </div>
    {% endif %}
    <!--All Posts -->
    <hr style="color:white;border:0.5px solid white;">
    <div class="row pl-0 pr-0 ml-1 mr-1">
        {% for post in Profile.Posts.all %}
            <div class="col-4 mt-2 pl-0 pr-0">
                {% if post.File1Type %}
                <a href="{% url 'Base:ExplorePosts' post.slug %}">
                    <video class="{{post.Filter}} " style="height:120px;width:100%;border:1px solid white;display:block;">
                        <source src="{{post.File1.url}}" >
                    </video>
                </a>
                {% else %}
                <a href="{% url 'Base:ExplorePosts' post.slug %}">
                    <img src="{{post.File1.url}}" style="height:120px;width:100%;border:1px solid white;">
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!--All Posts -->
</div>


{% endblock %}
{% block Navbar2 %}
 <!-- Small Screen Block End -->
        <!-- Small Screen Footer -->

        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light pt-1 pb-0 d-block d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="container d-flex justify-content-center align-items-center">
                 <div class="row w-100 pt-1 pb-1 ">
                     <div class="col pl-1">
                         <a href="{% url 'Base:HomeView' %}"><img src="{% static 'img/home3.png' %}" height="25" width="25"></a>
                     </div>
                     <div class="col pl-3">
                         <a href="{% url 'Base:ExploreView' %}"><i class="fas fa-globe text-dark" style="font-size: 25px;"></i></a>
                     </div>
                     <div class="col pl-3">
                         <a href="{% url 'Base:AddPost' %}"><i class="fas fa-plus-square text-dark" style="font-size: 25px;"></i></a>
                     </div>

                     <div class="col pl-3 pr-1">
                       {% if Profile.Profile_Photo %}
                         <a href="{% url 'Base:ProfileView' request.user %}"> <img src="{{Profile.Profile_Photo.url}}" height="30" width="30" style="border-radius:50%;"></a>
                        {% else %}
                         <a href="{% url 'Base:ProfileView' request.user %}"> <img src="{% static 'img/user.png' %}" height="30" width="30" style="border-radius:50%;"></a>
                        {% endif %}
                     </div>
                </div>
            </div>
        </nav>
        <!-- Small Screen Footer End -->

{% endblock %}
{% block extra_body %}
<script>
    // create a new websocket
    var room_name = '{{MyProfile.user.username}}';
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                const ProfileSocket = new WebSocket(
                ws_scheme+'://'+
                window.location.host+'/'+'ProfilePage/'+
                 room_name

                );
    // Js for Follow
    $('#Follow').on('click',function(){
    if(document.getElementById('Follow').innerHTML==='Follow'){
    ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Follow',

    }));
    // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Follow',
              },
              success: function(data) {

              }
    })
    document.getElementById('Follow').innerHTML = 'Following';
    document.getElementById('Follow').className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary";
    }
    else{
     ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Following',

    }));
     // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Following',
              },
              success: function(data) {

              }
    });
    var Element = document.getElementById('Follow');
    Element.innerHTML = 'Follow';
    Element.className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary ";
    Element.style = "color:white";
    }

    });
    $('#Following').on('click',function(){
    if(document.getElementById('Following').innerHTML==='Follow'){
    ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Follow',

    }));
     // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Follow',
              },
              success: function(data) {

              }
    })
    document.getElementById('Following').innerHTML = 'Following';
    document.getElementById('Following').className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary";

    }
    else{
     ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Following',

    }));
    // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Following',
              },
              success: function(data) {

              }
    })
    var Element = document.getElementById('Following');
    Element.innerHTML = 'Follow';
    Element.className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary ";
    Element.style = "color:white";
    }
    });

    // Large Screen
    // Js for Follow
    $('#FollowL').on('click',function(){
    if(document.getElementById('FollowL').innerHTML==='Follow'){
    ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Follow',

    }));
    // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Follow',
              },
              success: function(data) {

              }
    })
    document.getElementById('FollowL').innerHTML = 'Following';
    document.getElementById('FollowL').className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary";
    }
    else{
     ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Following',

    }));
     // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Following',
              },
              success: function(data) {

              }
    });
    var Element = document.getElementById('FollowL');
    Element.innerHTML = 'Follow';
    Element.className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary ";
    Element.style = "color:white";
    }

    });
    $('#FollowingL').on('click',function(){
    if(document.getElementById('FollowingL').innerHTML==='Follow'){
    ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Follow',

    }));
     // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Follow',
              },
              success: function(data) {

              }
    })
    document.getElementById('FollowingL').innerHTML = 'Following';
    document.getElementById('FollowingL').className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-light text-primary";

    }
    else{
     ProfileSocket.send(JSON.stringify({
        'MyProfile':'{{request.user.username}}',
        'Profile':'{{Profile.user.username}}',
        'Request':'Following',

    }));
    // Ajax for follow and following
    $.ajax({
              method: "GET",
              url: "{% url 'Base:AddRemFollower' %}",
              data: {
              'MyProfile':'{{request.user.username}}',
              'Profile':'{{Profile.user.username}}',
               'Request':'Following',
              },
              success: function(data) {

              }
    })
    var Element = document.getElementById('FollowingL');
    Element.innerHTML = 'Follow';
    Element.className = "col-5 border d-flex align-items-center justify-content-center pl-2 bg-primary ";
    Element.style = "color:white";
    }
    });
</script>
{% endblock %}
